
.wrap{
    width:500px;
    height:500px;
    overflow: hidden;
    background:#ccc;
    position: relative;
    font-size:30px;
    color:#fff;
    margin: 0 auto;
}
.slide-inner{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
}
.slide-item{
    width:500px;
    height:500px;
    text-align: center;
}
.arrow-wrap{
    width: 98%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
}
.dot-wrap{
    width:50%;
    position:absolute;
    left:50%;
    bottom:40px;
    transform:translate(-50%,0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.dot-item{
    width:20px;
    height:20px;
    border-radius: 50%;
    background:#fff;
}
.dot-item.active{
    background: #007aff;
}
